[flake8]
# E123,E133,E226,E241,E242 are ignored by default by pep8 and flake8
# F811 is legal in odoo 8 when we implement 2 interfaces for a method
# F999 pylint support this case with expected tests
# W503 changed by W504 and OCA prefers allow both
ignore = E123,E124,E126,E128,E133,E222,E225,E226,E231,E241,E242,E251,E261,E262,E265,E266,W291,W292,W293,E301,E302,E303,E305,W391,E501,W503,W504,F601,E722,F811
# max-line-length = 132
exclude =
    .svn,
    CVS,
    .bzr,
    .hg,
    .git,
    __pycache__,
    __unported__,
    __init__.py,
    examples,
    __new_*,
    __old_*,
    tests/res,
    tests/repo,
    tests/test_repo_with_subfolders,
    build,
    docs