# This config file not is a real pylint config file.
# This file overwrite params of base template.

[ODOOLINT]
manifest_deprecated_keys=

[MESSAGES CONTROL]

disable=file-not-used,
    create-user-wo-reset-password,
    dangerous-view-replace-wo-priority,
    translation-required,
    no-utf8-coding-comment,
    api-one-deprecated,
    consider-merging-classes-inherited,
    missing-import-error,
    class-camelcase,
    unreachable,
    missing-newline-extrafiles,
    rst-syntax-error,
    javascript-lint,
    redundant-modulename-xml,
    method-compute,
    unnecessary-utf8-coding-comment,
    odoo-addons-relative-import,
    relative-import,
    dangerous-view-replace-wo-priority,
    translation-field