<section class="oe_container">
    <div class="oe_row oe_spaced">
.. $if summary == summary_i18n
.. $if branch in '8.0'
        <h2 class="oe_slogan" style="color:#162832;">{{summary}}</h2>
.. $else
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">{{summary}}</h2>
        </div>
.. $fi
.. $else
.. $if branch in '8.0'
        <h2 class="oe_slogan" style="color:#162832;">{{summary}} | {{summary_i18n}}</h2>
.. $else
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_uk}}" alt="English" style="width:16px;height:16px;"/>
                <img src="{{icon_l10n_us}}" alt="English" style="width:16px;height:16px;"/>
            </p>
            <h2 class="oe_slogan" style="color:#162832;">{{summary}}</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_it}}" alt="Italiano" style="width:16px;height:16px;"/>
            </p>
            <h2 class="oe_slogan" style="color:#162832;">{{summary_i18n}}</h2>
        </div>
.. $fi
.. $fi
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_uk}}" alt="English" style="width:16px;height:16px;"/>
                <img src="{{icon_l10n_us}}" alt="English" style="width:16px;height:16px;"/>
            </p>
            <p class="oe_mt16" align="justify">{{description}}</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_it}}" alt="Italiano" style="width:16px;height:16px;"/>
            </p>
            <p class="oe_mt16" align="justify">{{description_i18n}}</p>
        </div>
        {{description_png}}
    </div>
.. $if defined features
    <div class="oe_row oe_spaced">
        <h3 align="center" style="color:#162832;font-size: 26px;font-weight: 300;">Features | Caratteristiche</h3>
        <div class="oe_span12">
{{features}}
        </div>
    </div>
.. $fi
.. $if defined configuration
    <div class="oe_row oe_spaced">
        <h3 align="center" style="color:#162832;font-size: 26px;font-weight: 300;">Configuration | Configurazione</h3>
.. $if configuration == configuration_i18n
        <div class="oe_span12">
{{configuration}}
        </div>
.. $else
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_uk}}" alt="English" style="width:16px;height:16px;"/>
                <img src="{{icon_l10n_us}}" alt="English" style="width:16px;height:16px;"/>
            </p>
            <p class="oe_mt16" align="justify">{{configuration}}</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_it}}" alt="Italiano" style="width:16px;height:16px;"/>
            </p>
            <p class="oe_mt16" align="justify">{{configuration_i18n}}</p>
        </div>
.. $fi
    </div>
.. $fi
.. $if defined usage
    <div class="oe_row oe_spaced">
        <h3 align="center" style="color:#162832;font-size: 26px;font-weight: 300;">Usage | Utilizzo</h3>
.. $if usage == usage_i18n
        <div class="oe_span12">
{{usage}}
        </div>
.. $else
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_uk}}" alt="English" style="width:16px;height:16px;"/>
                <img src="{{icon_l10n_us}}" alt="English" style="width:16px;height:16px;"/>
            </p>
            <p class="oe_mt16" align="justify">{{usage}}</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="{{icon_l10n_it}}" alt="Italiano" style="width:16px;height:16px;"/>
            </p>
            <p class="oe_mt16" align="justify">{{usage_i18n}}</p>
        </div>
.. $fi
    </div>
.. $fi
.. $if defined oca_diff
    <div class="oe_row oe_spaced">
        <h3 align="center" style="color:#162832;font-size: 26px;font-weight: 300;">OCA comparation | Confronto con OCA</h3>
        <div class="oe_span12">
{{oca_diff}}
        </div>
    </div>
.. $fi
.. $if defined changelog
    <div class="oe_row oe_spaced">
        <h3 align="center" style="color:#162832;font-size: 26px;font-weight: 300;">ChangeLog History | Cronologia modifiche</h3>
        <div class="oe_span12">
{{changelog}}
        </div>
    </div>
.. $fi
.. $if defined known_issues
    <div class="oe_row oe_spaced">
        <h3 align="center" style="color:#162832;font-size: 26px;font-weight: 300;">Known issues | Problemi conosciuti</h3>
        <div class="oe_span12">
{{known_issues}}
        </div>
    </div>
.. $fi
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors | Autori:</p>
            <p class="oe_mt16">{{authors}}</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors | Contributi da:</p>
            <p class="oe_mt16">{{contributors}}</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>This module is maintained by the <b><a href="https://www.shs-av.com">SHS_AV s.r.l.</a></b>.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of <a href="{{GIT_URL_ROOT}}">{{repos_name}}</a> project.</p>
        <p>Published information on | Informazioni pubblicate: {{today}}</p>
    </div>
</section>
