# sphinx build directories
/_build/

# dotfiles
.*
!.gitignore
!.github
!.mailmap
# compiled python files__pycache__/
*.py[co]
/__pycache__/

# emacs backup files & Temporay files
*~
*.log
*.bak
*.out
*.conf
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# various virtualenv
venv_odoo/
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
OCB/
conf/
cover/
**/.coverage
latex/
html/
stdout.log
oca__*
z0i__*
*.oca
*.z0i
.gitrepname
example_*
import_partner*
*_doc.txt
/clodoo/build/
/clodoo/dist/
/lisa/lisa/build/
/lisa/dist/
/odoo_score/build/
/odoo_score/dist/
/python_plus/build/
/python_plus/dist/
/travis_emulator/build/
/travis_emulator/dist/
/wok_code/build/
/wok_code/dist/
/z0bug_odoo/build/
/z0bug_odoo/dist/
/z0lib/build/
/z0lib/dist/
/zar/build/
/zar/dist/
/zerobug/build/
/zerobug/dist/
/clodoo/clodoo/docs/_build/
/lisa/lisa/docs/_build/
/odoo_score/odoo_score/docs/_build/
/python_plus/python_plus/docs/_build/
/travis_emulator/travis_emulator/docs/_build/
/wok_code/wok_code/docs/_build/
/z0bug_odoo/z0bug_odoo/docs/_build/
/z0lib/z0lib/docs/_build/
/zar/zar/docs/_build/
/zerobug/zerobug/docs/_build/
clodoo/clodoo.egg-info/
lisa/lisa.egg-info/
odoo_score/odoo_score.egg-info/
python_plus/python_plus.egg-info/
travis_emulator/travis_emulator.egg-info/
wok_code/wok_code.egg-info/
z0bug_odoo/z0bug_odoo.egg-info/
z0lib/z0lib.egg-info/
zar/zar.egg-info/
zerobug/zerobug.egg-info/
