# [antoniov: 2022-11-09]
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.a
*.obj
*.exe
/.venv
/.pytest_cache

# C extensions
*.o
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
cover/

# Node + Javascripts packages
*.json

# Translations
*.mo

# Pycharm
.idea/

# Eclipse
.settings

# Visual Studio cache/options directory
.vs/
.vscode

# OSX Files
.DS_Store

# Django stuff:
*.log

# Komodo
*.komodoproject
.komodotools

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
docs/_build/

# Bazaar
.bzr/

# hg stuff
*.orig

# Backup files
*~
*.swp

# Junks
*.bak
*.out
*.conf
.tmp
.tracehis
.tracehistory
test*.pdf
tmp.*
example_*
/.settings/
/share/
stdout.log
*.oca
*.z0i
#
# tools building path
#
/clodoo/build/
/clodoo/dist/
/clodoo/clodoo/docs/_build/
/lisa/lisa/build/
/lisa/dist/
/lisa/lisa/docs/_build/
/odoo_score/build/
/odoo_score/dist/
/odoo_score/odoo_score/docs/_build/
/python_plus/build/
/python_plus/dist/
/python_plus/python_plus/docs/_build/
/travis_emulator/build/
/travis_emulator/dist/
/travis_emulator/travis_emulator/docs/_build/
/wok_code/build/
/wok_code/dist/
/wok_code/wok_code/docs/_build/
/z0bug_odoo/build/
/z0bug_odoo/dist/
/z0bug_odoo/z0bug_odoo/docs/_build/
/z0lib/build/
/z0lib/dist/
/z0lib/z0lib/docs/_build/
/zar/build/
/zar/dist/
/zar/zar/docs/_build/
/zerobug/build/
/zerobug/dist/
/zerobug/zerobug/docs/_build
#
# odoo repositories
!static/lib/
