# Please, do not update lisa.conf.sample file
# because is replaced when lisa is upgraded.
# Copy lisa.conf.sample to lisa.conf and edit lisa.conf file
# Please, if you update this configuratione file, send a copy to
# antoniomaria.vigliotti@gmail.com
# so your configuration should be shared with other people.
# Last update: 2016-09-16
#
# This is lisa configuration file, deployed in /etc/lisa directory
# It is global file configuration, with global definitions or default values.
# Values in this file are evaluated in every time of execution but may be
# overridden by values in package specific configuration file in time
# of package management.
#
# **Specific configuration file**
# Every package may have an own configuration file named PKGNAME.lish where
# PKGNAME is the name of package; i.e. apache2.lish
# In these files may be just parameters beginning by package name (see
# Parameters below)
# In these files, package name is non mandatory; i.e. parameter
# apache2_ReqPkgList may be also written ReqPkgList
# Specific configuration files are searched in current directory, then in
# /etc/lisa so you can declare you own specific configuration file without
# change standard file supplied by lisa installation.
#
# **Sections**
# Sections declare application environment as follow:
# [_Linux_] -> Parameters applied running under every Linux distribution
# [_RHEL_] -> Parameters applied running Red Hat Entreprise Linux family,
#             like Red Hat, CentOS and Fedora
# [_Debian_] -> Parameters applied running Debian family,
#               like Debian and Ubuntu
# [_Ubuntu12_] -> Parameters for Ubuntu 12.xx
# [_Ubuntu14_] -> Parameters for Ubuntu 14.xx
# [_CentOS6_] -> Parameters for CentOS 6.xx
# [_CentOS7_] -> Parameters for CentOS 7.xx
# Other distribution are not yet tested, but lisa is designed to run with all
# Linux distributions; syntax for sections running in other Linux distribution
# is the same you can see above (name + major version)
# Warning! Order of sections is very important.
# The first section must be always [_Linux_]
# After that you must insret section of families (RHEL and/or Debian)
# Section of specific family must be above the all previous three sections.
#
# **Parameters**
# Every parameter has format name=value
# Parameters beginning with package name (i.e. apache2_ReqPkgList) should be
# insert in specific package configuration file.
# Parameters ending with package name (REAL_apache2) or without package name
# must be just in lisa.conf file.
#
# Type:
# > lisa help
# or visit http://wiki.zeroincombenze.org/en/Lisa webpage
# for furthermore information
#

[_Linux_]
# REAL_OSSERVICE declares OS command to run/stop services. Value are: (service|systemctl)
REAL_OSSERVICE=service
# REAL_pkgname, wher pkgname is specific package name declares the real name
# of package. I.e. apache name is httpd in RHEL family and apache2 in Debian family
# This parameter help end user to install package on every distribution, even
# if it supplies wrong name. Please look at REAL_apache2 and REAL_httpd
# to understand how this parameter works.
# Real name of python-pip and python-setuptools
REAL_python-pip=pip
REAL_python-setuptools=setuptools
# If user supplies mysql
REAL_mysql=mysql-server
# Other packages
REAL_openssh=openssh-server
REAL_beautifulsoup=BeautifulSoup
# Commands templates
VFYUPP=ssh,lisa
VFYPSX=pip,mysql,psql,python,wkhtmltopdf,wget,gcc
VFYE2NL=None
VFYERR=ssh,python
NOINQ=vsftpd,postgresql-client-common,postgresql-contrib,ghostscript,odoo
NAME_VIRTUAL=LAMP

[_Debian_]
# Commands templates
VFYLOW=apachectl,php5
# If user supplies wrong name of apache (used in RHEL family)
REAL_httpd=apache2
# If user supplies wrong name for postgresql
REAL_postgres=postgresql
REAL_postgresql-server=postgresql
# php name is php5 in Debian
REAL_php=php5
REAL_php-mysql=php5-mysql
REAL_php-common=php5-common
REAL_php-xml=php5-xml
REAL_php-cli=php5-cli
# python
REAL_python-devel=python-dev
# Other packages
REAL_openssh-clients=openssh-client
REAL_libxml2-python=python-libxml2
REAL_libxslt-python=python-libxslt1
REAL_zlib1g-dev=zlib-devel
REAL_libreadline6-dev=readline-devel

[_RHEL_]
# Commands templates
VFYLOW=apachectl,php
# If user supplies wrong name of apache (used in Debian family)
REAL_apache2=httpd
# If user supplies wrong name for postgresql
REAL_postgres=postgresql-server
REAL_postgresql=postgresql-server
# If user supplies Debian name for php
REAL_php5=php
REAL_php5-mysql=php-mysql
REAL_php5-common=php-common
REAL_php5-xml=php-xml
REAL_php5-cli=php-cli

# python
REAL_python-dev=python-devel
# Other packages
REAL_pyopenssl=pyOpenSSL
REAL_openssh-client=openssh-clients
REAL_python-libxml2=libxml2-python
REAL_python-libxslt1=libxslt-python
REAL_zlib-devel=zlib1g-dev
REAL_readline-devel=libreadline6-dev

[_Ubuntu12_]
# mariadb does non exists in Ubuntu12
REAL_mariadb=mysql-server
REAL_mariadb-server=mysql-server

[_Ubuntu14_]
# mariadb does non exists in Ubuntu14
REAL_mariadb=mysql-server
REAL_mariadb-server=mysql-server

[_CentOS6_]
# mariadb does non exists in CentOS6
REAL_mariadb=mysql-server
REAL_mariadb-server=mysql-server

[_CentOS7_]
# CentOS7 use systemctl instead of service command
REAL_OSSERVICE=systemctl
# mysql is replaced by mariadb in CentOS7
REAL_mysql=mariadb
REAL_mysql-server=mariadb-server
