<section class="oe_container">
    <div class="oe_row oe_spaced">
.. $if branch in '8.0'
        <h2 class="oe_slogan" style="color:#162832;">{{name}}</h2>
.. $else
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">{{name}}</h2>
        </div>
.. $fi
        <div class="oe_span6">
            <p align="center">
                <img src="{{grymb_image_en}}" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">{{description}}</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="{{grymb_image_it}}" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">{{descrizione}}</p>
        </div>
    </div>
.. $if defined features
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Features / Caratteristiche</h3>
        <div class="oe_span12">
{{features}}
        </div>
    </div>
.. $fi
.. $if defined usage
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Usage / Utilizzo</h3>
        <div class="oe_span12">
{{usage}}
        </div>
    </div>
.. $fi
.. $if git_orgid == 'powerp'
.. $if defined history
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
{{history}}
        </div>
    </div>
.. $fi
.. $fi
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16">{{authors}}</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16">{{contributors}}</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
.. $if git_orgid == 'powerp'
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo è aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> è una rete di imprese, nata nel 2020 che rilascia moduli per la contabilità italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
.. $else
        <div class="oe_span12">
            <p>This module is maintained by the <b>SHS_AV s.r.l.</b>.</p>
        </div>
.. $fi
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of {{repos_name}} project.</p>
    </div>
</section>
