<section class="oe_container">
    <div class="oe_row oe_spaced">
.. $if branch in '8.0'
        <h2 class="oe_slogan" style="color:#162832;">{{name}}</h2>
.. $else
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">{{name}}</h2>
        </div>
.. $fi
        <div class="oe_span6">
            <p align="center">
                <img src="{{grymb_image_en}}" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">{{description}}</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="{{grymb_image_it}}" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">{{descrizione}}</p>
        </div>
    </div>
.. $if defined features
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Features / Caratteristiche</h3>
        <div class="oe_span12">
{{features}}
        </div>
    </div>
.. $fi
.. $if defined usage
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Usage / Utilizzo</h3>
        <div class="oe_span12">
{{usage}}
        </div>
    </div>
.. $fi
.. $if git_orgid == 'powerp'
.. $if defined history
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
{{history}}
        </div>
    </div>
.. $fi
.. $fi
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16">{{authors}}</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16">{{contributors}}</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of {{repos_name}} project.</p>
    </div>
</section>
