# This config file not is a real pylint config file.
# This file overwrite params of base template.

[ODOOLINT]
manifest_deprecated_keys=

[MESSAGES CONTROL]

disable=wrong-tabs-instead-of-spaces,
    sql-injection,
    file-not-used,
    duplicate-id-csv,
    create-user-wo-reset-password,
    dangerous-view-replace-wo-priority,
    translation-required,
    duplicate-xml-record-id,
    no-utf8-coding-comment,
    old-api7-method-defined,
    api-one-deprecated,
    missing-readme,
    attribute-deprecated,
    consider-merging-classes-inherited,
    missing-import-error,
    class-camelcase,
    unreachable,
    manifest-deprecated-key,
    license-allowed,
    missing-newline-extrafiles,
    rst-syntax-error,
    anomalous-backslash-in-string,
    javascript-lint,
    redundant-modulename-xml,
    method-compute,
    unnecessary-utf8-coding-comment,
    use-vim-comment,
    odoo-addons-relative-import,
    relative-import,
    invalid-commit,
    dangerous-view-replace-wo-priority,
    translation-field
