NAME_Debian=apache2 postgresql mysql-server php5 python-dev zlib1g-dev libreadline6-dev
NAME_RHEL=httpd postgresql-server mysql-server php python-devel zlib-devel readline-devel
LAMP__Debian=python-pip LAMP_security openssh-server apache2 mysql-server postgresql php5 python
LAMP__RHEL=epel-release pip yum-utils LAMP_security openssh-server httpd mysql-server postgresql-server php python
LAMP__CentOS7=epel-release python-pip yum-utils LAMP_security openssh-server httpd mariadb-server postgresql-server php python
VFYLOW=apachectl php php5
VFYUPP=ssh
VFYE2NL=
VFYERR=ssh python
postgresql-server_svcname=postgresql
postgresql_svcname=postgresql
SUB_python__Debian=setuptools python-virtualenv virtualenv    libreadline6 libxslt-python python-psycopg2 python-simplejson pytz xlwt PyYAML    python-gdata python-ldap python-lxml python-requests python-yaml
SUB_python__RHEL=setuptools python-virtualenv virtualenv readline    libxslt-python python-psycopg2 python-simplejson pytz xlwt PyYAML    gdata python-ldap python-lxml python-requests python-yaml
SUB_python__Debian__DEV=python-dev libsasl2-dev libldap2-dev zlib1g-dev libssl-dev libreadline6-dev libsqlite3-dev tk-dev libgdbm-dev libpcap-dev liblzma-dev python-libxml2 python-requests python-yaml
SUB_python__RHEL__DEV=python-devel openldap-devel zlib-devel bzip2-devel openssl-devel ncurses-devel readline-devel sqlite-devel tk-devel gdbm-devel libpcap-devel xz-devel postgresql-devel libxml2 libxml2-devel libxml2-python libxslt-devel python-requests python-yaml
SUB_odoo__Debian=ghostscript libart-2.0-2    libcupsfilters1 libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0    liblcms2-2 libpaper-utils libpaper1 libpoppler44 libtidy-0.99-0 libwebp5    libwebpmux1 poppler-data poppler-utils python-babel python-babel-localedata    python-dateutil python-decorator python-docutils python-feedparser    python-gevent python-greenlet python-imaging python-jinja2 python-mako    python-markupsafe python-mock python-openid passlib python-pil    python-psutil python-pybabel python-pychart python-pydot python-pygments    python-pyinotify python-pyparsing python-pypdf python-renderpm    python-reportlab python-reportlab-accel python-roman python-suds    python-unittest2 python-utidylib python-vatnumber python-vobject    python-werkzeug docutils-common docutils-doc unidecode wkhtmltopdf unicodecsv pydot vatnumber BeautifulSoup
SUB_odoo__RHEL=Babel dejavu-fonts-common dejavu-sans-fonts fontpackages-filesystem    libjpeg-turbo libtiff libyaml passlib    pyOpenSSL pychart pyparsing python-babel python-beaker python-dateutil python-docutils python-feedparser python-jinja2    python-ldap python-lxml python-mako python-markupsafe python-mock python-openid    python-psutil python-psycopg2 python-reportlab python-simplejson    python-unittest2 urllib3 python-vobject python-werkzeug pytz unidecode wkhtmltopdf unicodecsv pydot vatnumber BeautifulSoup
SUB_odoo__Debian__DEV=
SUB_odoo__RHEL__DEV=libjpeg-turbo-devel
SUB_mariadb_server=mariadb
SUB_openssh_server__RHEL=openssh-clients telnet mod_ssl mod_proxy_html iptables-services bind-utils
SUB_openssh_server__Debian=openssh-client telnet
SUB_php5=php5-mysql php5-common php5-xml
SUB_odoo__DEV=pcregrep oerplib erppeek os0 pytok
TCP_httpd=80 443
TCP_apache2=80 443
TCP_openssh_server=22
NOINQ=ghostscript odoo
product_vfycmd=/usr/bin/product -V
turbo libtiff libyaml passlib    pyOpenSSL pychart pyparsing python-babel python-beaker python-dateutil python-docutils python-feedparser python-jinja2    python-ldap python-lxml python-mako python-markupsafe python-mock python-openid    python-psutil python-psycopg2 python-reportlab python-simplejson    python-unittest2 urllib3 python-vobject python-werkzeug pytz unidecode wkhtmltopdf unicodecsv pydot vatnumber BeautifulSoup
SUB_odoo__Debian__DEV=
SUB_odoo__RHEL__DEV=libjpeg-turbo-devel
SUB_mariadb_server=mariadb
SUB_openssh_server__RHEL=openssh-clients telnet mod_ssl mod_proxy_html iptables-services bind-utils
SUB_openssh_server__Debian=openssh-client telnet
SUB_php5=php5-mysql php5-common php5-xml
SUB_odoo__DEV=pcregrep oerplib erppeek os0 pytok
TCP_httpd=80 443
TCP_apache2=80 443
TCP_openssh_server=22
NOINQ=ghostscript odoo
product_vfycmd=/usr/bin/product -V
