<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">{{name}}</h2>
        </div>
    </div>
    <div class="oe_span6 text-center">
        <img src="{{grymb_image_en}}" alt="English"/>
        <p class="oe_mt16" align="justify">{{description}}</p>
    </div>
    <div class="oe_span6 text-center">
        <img src="{{grymb_image_it}}" alt="Italiano"/>
        <p class="oe_mt16" align="justify">{{descrizione}}</p>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16">{{authors}}</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Contributi:</p>
            <p class="oe_mt16">{{contributors}}</p>
        </div>
    </div>
</section>
